/* Reset CSS: elimina los estilos por defecto del navegador */
* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif; /* Fuente global */
}

body{
    height: 100vh;
    width: 100%;
    background-color: #f7f7f7;
}

/* Enlaces */
a {
    text-decoration: none;
}

footer a {
    color: rgb(0, 0, 0);
}

/* Footer */
footer {
    background-color:#f7f7f7;
    color: rgb(0, 0, 0);
    z-index: 15;

}

.bot_head{
    border-bottom: 2px solid #000;
}

/* Barra flexible */
.fl_bar {
    position: relative;
    margin-top: 0px;
    background-color: #000000;
    color: #f7f7f7;
    text-align: center;
    height: 18px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: bottom;
    justify-content: center;
    z-index: 20;
    padding-top: 3px;
}

/* Navegación */
nav ul {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: left;
    height: 30px;
    margin-left: 0px;
}

nav ul li a {
    margin-right: 12%;
}

/* Logo en el nav */
.bot_head .logonav img {
    height: 20px; 
    width: auto;
    margin-top: 16px;
    border-radius: 30%;
    margin-left: 50%;
}

.bot_head ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    padding-top: 4px;
    margin: 0;
    background-color: white;
}

.bot_head li {
    margin-right: 5%;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative; /* Necesario para aplicar efectos de sombra */
    transition: all 0.3s ease; /* Agregar transición suave */
}

.bot_head li:hover a {
    color: #000000; /* Cambia el color del texto al pasar el ratón */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra del texto */
}


header hr {
    height: 1px;
    background-color: rgb(70, 70, 70);
    margin: 0;
}

.bot_head a {
    color: rgb(0, 0, 0);
}
 


/* Header */
header nav .logonav {
    margin-left: 0;
    justify-content: center;
}

/* Encabezado medio */
.mid_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding:0 4%;
    padding-top: 15px;
    font-size: 23px;
    font-weight: bold;
}


/* Botón de navegación */
.bot_head ul {
    list-style: none;
}

header{
    position: sticky;
    top: -100px;
    z-index: 100;
    margin-bottom: 0;
}

.item img {
    height: 250px;
    width: 25%;
}

.item .nombre_item {
    font-weight: bold;
}

/* Pie de página */
.topper-foot {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 100px 0px;

}

.topper-foot table {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sec_foot ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.search-box {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 0px;
}

/* Estilo para el input de búsqueda */
.search-box input {
    color: white;
    width: 290px;
    padding: 10px;
    border: 2px solid #585858;
    border-radius: 20px; 
    font-size: 13px;
    outline: none;
    transition: border-color 0.3s ease;
    height: 2px;
    background-color: #424242;
}

.search-box input:focus {
    border-color: #aaaaaa;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-box input::placeholder{
    color: rgba(255, 255, 255, 0.425);
}

/* Estilo para el botón */
.search-box button {
    padding: 2px 15px; 
    background-color: #000000;
    border: solid;
    border-color: #303030;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 26px;
}

header .search-box .lupita{
    position: relative;
    top: -6px;
    padding: 0;

}

.search-box button:hover {
    background-color: #424242;
}

.search-box button:active {
    transform: scale(0.95);
}

.topper-foot .fir_foot button{
    background-color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 

}

.topper-foot .fir_foot button a {
    color: white;
    text-decoration: none;
}

.topper-foot .fir_foot button:active {
    transform: scale(0.98);
    background-color: #303030;
}

.fir_foot {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 30px;
}

.thi_foot > h3{
    padding-bottom: 20px;
    text-align: center;
}

.sec_foot{
    width: 12%;
}

.topper-foot .sec_foot > *{
    padding: 10px 0;
}

.social-links {
    display: flex;
    margin-top: 10px;
    gap: 20px;
    justify-content: center;
}
.fir_foot h3{
    margin-bottom: 40px;
}

.fir_foot button{
    margin-bottom: 23px;
}

.sublinks_1{
    display: flex;
    flex-direction: column;
}

.sublinks_1 > *{
    margin-top: 15px;
}

.holder {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0;
    overflow: hidden;
}

.holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video se ajuste al contenedor */
}

.holder .text-overlay1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.753);
    z-index: 1;
}

.holder .text-overlay2 {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.holder button{
    background-color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    color: white;
    height: 52px;
    width: 150px;
    font-size: 0.9em;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.holder button:active {
    background-color: #303030;
}

.holder .bot1:active{
    background-color: rgb(218, 218, 218);
}

.holder .bot1,
.holder .bot2 {
    position: absolute;
    text-align: center;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta la posición según el tamaño del botón */
    z-index: 2;
}

.holder .bot1 {
    margin-left: 80px;
    background-color: #f7f7f7;
    border-style: solid;
    border-width: 3px;
    color: rgb(0, 0, 0);
}

.holder .bot2 {
    margin-left: -80px;
}

.body_contact {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #d1cfcf, #d4ab7d);
    color: #333;
}

.father_form {
    background-image: url(../img/form_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 450px;
    backdrop-filter: blur(10px);
}

.father_form h1 {
    text-align: center;
    color: #444;
    font-size: 2em;
    margin-bottom: 25px;
}

.father_form label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.father_form input[type="text"],
.father_form input[type="email"],
.father_form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
}

.father_form input[type="text"]:focus,
.father_form input[type="email"]:focus,
.father_form textarea:focus {
    border-color: #3a3a3a;
    outline: none;
    box-shadow: 0 0 5px rgba(142, 68, 173, 0.5);
}

.father_form input[type="submit"] {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #d4ab7d, #e6e4e3);
    
    color: #3a3a3a;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.father_form input[type="submit"]:hover {
    background: linear-gradient(90deg, #ddad8d, #a7968b);
    transform: scale(1.05);
}


.footer_form {
    text-align: center;
    font-size: 0.9em;
    margin-top: 20px;
    color: #ffffff;
}

.footer_form p {
    margin: 0;
    line-height: 1.5;
}

.body_sobrefoot{
    background-color: #d4d4d4;
    height: 200px;

}

.tsobref{
    position: relative;
    top: 49px;
    left: 5%;
}
.xsobref{
    position: relative;
    top: 55px;
    left: 5%;
}

.subscription input[type="submit"] {
    background-color: #000000; /* Color cálido suave (beige) */
    padding: 0px 21px;
    border: none;
    border-radius: 8px; /* Bordes más redondeados */
    cursor: pointer;
    font-size: 18px; /* Aumentamos el tamaño de la fuente para que sea más visible */
    color: #ffffff; /* Texto blanco para buen contraste */
    height: 45px;
    transition: background-color 0.3s, transform 0.2s;
    position: relative;
    left: 85%;
    top: -57%;
    align-items: center;
}

.subscription input[type="submit"]:hover {
    background-color: #818181; /* Tono más claro al hacer hover */
    transform: scale(1.05); /* Efecto de escala para destacar el botón */
    color: #303030;
    
}


.subscription input[type="email"] {
    width: 80%;
    max-width: 350px;
    height: 45px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.subscription input[type="email"]:hover {
    border-color: #000000;
    outline: none;
    box-shadow: 0 0 5px rgba(142, 68, 173, 0.5);
}

.subscription input[type="email"]:focus {
    border-color: #6C5B7B;
    box-shadow: 0 0 5px rgba(142, 68, 173, 0.7);
}


.subscription {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 30px 2%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    position: relative;
    top: -60px;
    left: 65%;
    height: 100px;
}

@media (max-width: 770px) {

    .topper-foot {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
        gap: 40px;
    }
    
    .topper-foot > div {
        width: 100%;
        text-align: center;
    }
    
    /* Estilo de los títulos en el footer */
    .topper-foot h3 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }   

    .sec_foot li {
        margin: 5px 0;
    }
    
    .sec_foot li a {
        color: black;
        text-decoration: none;
    }

    .holder .bot1,
    .holder .bot2 {
        top: 72%;
    }

    .holder .text-overlay2 {
        top: 50%;
    }

    .holder .text-overlay1{
        text-align: center;
        top: 29%;
    }
}

/* Estilos de la pagina del item*/

/* Reset de CSS */

* {
    margin: 0;
    padding: 0;
    /*background-color:#e0e0e0;*/
}

header {
    display: flex;
    border-style: solid;
    height: 8rem;
    align-items: center;
    justify-content: center;
    background-color: blue;
    box-sizing: border-box;
}
footer{
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    border-style: solid;
    height: 8rem;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.ruteIndicator{
    height: 40px;
    align-content: center;
    padding-left: 2rem;
}

.Mitem{
    display: flex;
    gap: 2rem;
    padding: 5vh 4%;
    background-color: white;
}
.Mitem .L_Mitem{
    background-color: #f5f5f5;
    flex: 1.5;
    order:1;
    padding: 10px;
    border-style: solid;
    border-width: 0.1px;
    border-color: #00000046;
    border-radius: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.247);
}

.Mitem .L_Mitem .L_Mitem_imgs{
    gap: 10px;
    display: flex;
    background-color: inherit;
    padding: 10px;
}

.Mitem .L_Mitem .L_Mitem_imgs .mainIMG{
    width: 75%;
    display: flex;
    padding-top: 8vh;
    align-items: start;
    justify-content: center;
    border-style: none;
    border-radius: 1%;
    padding-bottom: 8vh;
}
.Mitem .L_Mitem .L_Mitem_imgs .mainIMG img{
    width: 75%;
    height: auto;
    aspect-ratio: 9/16;
    border-style: solid;
    border-radius: 2%;
    border-width: 0.1px;
    border-color: #00000046;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.Mitem .R_Mitem a {
    text-decoration: none;
    font-size: 0.8rem;
}

.Mitem .L_Mitem .L_Mitem_imgs .mainIMG img:hover{
    transform: scale(1.2);
}

.Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras{
    width: 25%;
    display: flex;
    flex-direction: column;
    border-style: none;
    border-radius: 2%;
    gap: 2vh;
    padding: 2vh 1%;
    align-items: center;
}
.Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras img{
    width: 90%;
    height: auto;
    aspect-ratio: 9/16;
    border-style: solid;
    border-radius: 2%;
    border-width: 0.1px;
    border-color: #00000046;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras img:hover{
    border-color: rgba(180, 180, 176, 0.822);
    box-shadow: 0 5px 5px rgb(75, 49, 49);
}

.Mitem .L_Mitem .L_Mitem_txt{
    background-color: inherit;
    display: flex;
    padding-left: 20px;
    margin-top: 38px;
    gap: 10px;
}
.Mitem .L_Mitem .L_Mitem_txt h2{
    background-color: inherit;
    font-size: 0.8rem;
    
}

.Mitem .L_Mitem .L_Mitem_txt a{
    background-color: inherit;
    color: #000;
    text-decoration: none;
}
.Mitem .L_Mitem .L_Mitem_com{
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 10px;

}
.Mitem .L_Mitem hr {
    width: 93%;
    align-items: center;
    border: none;
    border-top: 1.3px solid #000;
    margin: 0 auto;
    padding: 0;
}

.Mitem .R_Mitem {
    background-color: #e0e0e0;
    height: auto;
    order: 2;
    padding: 1% 2%;
    border-style: solid;
    border-width: 0.1px;
    border-color: #00000046;
    border-radius: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.247);
    position: sticky;
    top: 10px;
    width: 30%;
}

.Mitem .R_Mitem .CAL{
    display: flex;
    gap: 2%;
}
.Mitem .R_Mitem .R_Mitem_prize{
    margin-bottom: 30px;
}
.Mitem .R_Mitem .R_Mitem_prize h2{
    margin: 0;
}

.Mitem .R_Mitem .R_Mitem_talle{
    margin-top: 20px;
    display: block;
    flex-direction: column;
    gap: 2%;
}

.Mitem .R_Mitem .R_Mitem_bot{
    position: relative;
    bottom:-20px;
}

@media (max-width: 1024px) {
    header, footer {
        height: 6rem;
        font-size: 0.9rem;
    }

    .Mitem {
        flex-direction: column;
        gap: 2rem;
    }

    .Mitem .R_Mitem {
        width: 100%;
        order: 2;
    }

    .Mitem .R_Mitem .R_Mitem_bot{
        position: relative;
        bottom:0px;
    }

    .Mitem .L_Mitem {
        order: 1;
    }

    .Mitem .L_Mitem .L_Mitem_imgs .mainIMG img {
        width: 90%;
    }

    .Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras img {
        width: 70%;
    }
}

@media (max-width: 768px) {
    header, footer {
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 1rem;
    }

    .ruteIndicator {
        font-size: 0.9rem;
        padding: 1rem;
        text-align: center;
    }

    .Mitem {
        flex-direction: column;
        padding: 2rem 2%;
    }

    .Mitem .R_Mitem {
        width: 100%;
        padding: 2rem;
        background-color: #e0e0e0; /* Fondo gris que cubre todo */
    }

    .Mitem .L_Mitem {
        width: 100%;
        padding: 1rem;
        height: auto;
    }


    .Mitem .L_Mitem .L_Mitem_imgs .mainIMG{
        position: relative;
        top: 0vh;
        width: 100%;
    }

    .Mitem .L_Mitem .L_Mitem_imgs .mainIMG img,
    .Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras img {
        width: 90%;
        position: relative;
        top: -5vh;
    }

    .Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras {
        order: 2;
        display: flex;
        border-style: none;
        border-radius: 2%;
        gap: 8vh;
        padding: 2vh 1%;
        position: relative;
        justify-content: center;
        flex-direction: row;

    }

    .Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras img {
        height: auto;
    }

    .Mitem .R_Mitem .R_Mitem_bot {
        position: relative;
        top: 2vh;
    }

    /* Ocultar secciones de detalles y comentarios */
    .Mitem .L_Mitem .L_Mitem_txt,
    .Mitem .L_Mitem .L_Mitem_com,
    .Mitem .L_Mitem hr {
        display: none;
    }

    .Mitem .L_Mitem .L_Mitem_imgs {
        flex-direction: column;
        align-items: center;
        display: flex;
        padding: 10px;
        border-style: none;
        border-radius: 1%;
    }
}
