@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: #dadada;
  overflow-x: hidden;
  --x-0: 93%;
  --y-0: 97%;
  --c-0: hsla(55.58823529411776, 0%, 100%, 0.86);
  --y-1: 96%;
  --x-1: 66%;
  --c-1: hsla(260.735294117647, 85%, 73%, 0.42);
  --x-2: 10%;
  --y-2: 93%;
  --c-2: hsla(181.00000000000003, 85%, 73%, 0.42);
  --y-3: 94%;
  --x-3: 48%;
  --c-3: hsla(181.00000000000003, 85%, 73%, 0.42);
  --x-4: 52%;
  --c-4: hsla(252.7941176470588, 85%, 73%, 0);
  --y-4: 79%;
  background-color: hsl(198, 14%, 16%);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: overlay, normal, normal, normal, normal;
}

a {
  text-decoration: none;
}

.bot_head ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bot_head a {
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.bot_head {
  border-bottom: 2px solid rgb(0, 0, 0);
}
.bot_head .logonav img {
  height: 20px;
  width: auto;
  margin-top: 16px;
  border-radius: 30%;
  margin-left: 50%;
}
.bot_head ul {
  padding-top: 4px;
  background-color: white;
}
.bot_head li {
  margin-right: 5%;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease;
}
.bot_head li:hover a {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px rgba(7, 7, 7, 0.466);
}
.fl_bar {
  position: relative;
  background-color: rgb(0, 0, 0);
  color: #f7f7f7;
  text-align: center;
  height: 12px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 20;
  padding-top: 19px;
}

nav ul {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  height: 30px;
}
nav ul li a {
  margin-right: 12%;
}

header {
  position: sticky;
  top: -79px;
  z-index: 100;
  margin-bottom: 0;
}
header hr {
  height: 1px;
  background-color: rgb(70, 70, 70);
  margin: 0;
}
header nav .logonav {
  margin-left: 0;
  justify-content: center;
}
header .search-box .lupita {
  position: relative;
  top: -6px;
  padding: 0;
}

.mid_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 80px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 15px 4% 0;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
}

.holder .bot1,
.holder .bot2, .holder button {
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  height: 52px;
  width: 150px;
  font-size: 0.9em;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.holder {
  position: relative;
  width: 100%;
  height: 78vh;
  margin: 0;
  overflow: hidden;
}
.holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
  height: 100%;
  object-fit: cover;
}
.holder .text-overlay1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(7, 7, 7, 0.466);
  z-index: 1;
}
.holder .text-overlay2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px 5px rgba(7, 7, 7, 0.466);
  z-index: 2;
}
.holder button:active {
  background-color: #303030;
}
.holder .bot1,
.holder .bot2 {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.holder .bot1 {
  margin-left: 80px;
  background-color: #f7f7f7;
  border-style: solid;
  border-width: 3px;
  color: rgb(0, 0, 0);
}
.holder .bot1:active {
  background-color: #dfdfdf;
}
.holder .bot2 {
  margin-left: -80px;
}

footer {
  background-color: #f7f7f7;
  color: rgb(0, 0, 0);
  z-index: 15;
}
footer a {
  color: rgb(0, 0, 0);
}

.topper-foot {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 100px 0;
}
.topper-foot table {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topper-foot .fir_foot button {
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.topper-foot .fir_foot button a {
  color: white;
  text-decoration: none;
}
.topper-foot .fir_foot button:hover {
  background-color: black;
}
.topper-foot .fir_foot button:active {
  transform: scale(0.98);
  background-color: #303030;
}
.topper-foot .sec_foot > * {
  padding: 10px 0;
}

.sec_foot {
  width: 12%;
}
.sec_foot ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fir_foot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: column;
  gap: 30px;
  text-align: center;
  flex-direction: column;
}
.fir_foot h3 {
  margin-bottom: 40px;
}
.fir_foot button {
  margin-bottom: 23px;
}

.thi_foot > h3 {
  padding-bottom: 20px;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-top: 10px;
  gap: 20px;
}

.sublinks_1 {
  display: flex;
  flex-direction: column;
}
.sublinks_1 > * {
  margin-top: 15px;
}

.search-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-top: -15px;
}
.search-box input {
  color: white;
  width: 290px;
  padding: 10px;
  border: 2px solid #585858;
  border-radius: 20px;
  font-size: 13px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: #424242;
  height: 26px;
}
.search-box input:focus {
  border-color: #aaaaaa;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.search-box input::placeholder {
  color: rgba(255, 255, 255, 0.425);
}
.search-box button {
  padding: 2px 15px;
  background-color: rgb(0, 0, 0);
  border: solid #303030;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 26px;
}
.search-box button:hover {
  background-color: #424242;
}
.search-box button:active {
  transform: scale(0.95);
}
.search-box button i {
  color: white;
}

.body_contact {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #d1cfcf, #152841);
  color: #333;
}

.father_form {
  background-image: url(../img/form_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(7, 7, 7, 0.466);
  width: 100%;
  max-width: 450px;
  margin: 10px;
}
.father_form h1 {
  text-align: center;
  color: #2e2e2e;
  font-size: 2em;
  margin-bottom: 25px;
  font-weight: bold;
}
.father_form label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #2e2e2e;
}
.father_form input[type=text] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  font-size: 1em;
  box-sizing: border-box;
  background-color: #dfdfdf;
}
.father_form input[type=text]:focus {
  border-color: #585858;
  outline: none;
  box-shadow: 0 0 5px rgba(7, 7, 7, 0.466);
}
.father_form input[type=email] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  font-size: 1em;
  box-sizing: border-box;
  background-color: #dfdfdf;
}
.father_form input[type=email]:focus {
  border-color: #585858;
  outline: none;
  box-shadow: 0 0 5px rgba(7, 7, 7, 0.466);
}
.father_form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  font-size: 1em;
  box-sizing: border-box;
  background-color: #dfdfdf;
}
.father_form textarea:focus {
  border-color: #585858;
  outline: none;
  box-shadow: 0 0 5px rgba(7, 7, 7, 0.466);
}
.father_form input[type=submit] {
  width: 100%;
  padding: 12px;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  background: linear-gradient(345deg, #0b2b55, #a8a8a8);
  color: #dfdfdf;
}
.father_form input[type=submit]:hover {
  transform: scale(1.02);
}
.father_form input[type=submit]:hover {
  background: linear-gradient(345deg, #3d4e88, #a8a8a8);
}

.footer_form {
  text-align: center;
  font-size: 0.9em;
  margin-top: 20px;
  color: #f7f7f7;
}

.body_sobrefoot {
  background-color: #aaaaaa;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 2%;
}
.body_sobrefoot .bsf_text {
  order: 1;
  align-content: center;
  padding: 0 18px;
  flex-grow: 0;
}
.body_sobrefoot .subscription {
  order: 2;
  background-color: #dfdfdf;
  transition: background-color 0.3s;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(7, 7, 7, 0.466);
  display: flex;
  flex-grow: 1;
  max-width: 35%;
  margin-left: auto;
}
.body_sobrefoot .subscription form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 3% 5%;
  gap: 7px;
}
.body_sobrefoot .subscription input[type=submit] {
  background-color: rgb(0, 0, 0);
  padding: 0px 21px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  height: 45px;
  transition: background-color 0.3s, transform 0.2s;
}
.body_sobrefoot .subscription input[type=submit]:hover {
  background-color: #585858;
  transform: scale(1.02);
  color: rgb(0, 0, 0);
}
.body_sobrefoot .subscription input[type=email] {
  height: 45px;
  padding: 12px;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.body_sobrefoot .subscription input[type=email]:hover {
  border-color: rgb(0, 0, 0);
  outline: none;
  box-shadow: 0 0 5px rgba(7, 7, 7, 0.466);
}
.body_sobrefoot .subscription input[type=email]:focus {
  border-color: #3d4e88;
  box-shadow: 0 0 5px rgba(7, 7, 7, 0.466);
}

.ruteIndicator {
  background-color: #585858;
  color: white;
  font-weight: bold;
}

.item img {
  width: 25%;
  height: auto;
  aspect-ratio: auto;
  border: solid 0.1px #aaaaaa;
  border-radius: 2%;
  box-shadow: 0 2px 4px rgba(7, 7, 7, 0.466);
  transition: transform 0.5s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  height: 250px;
}
.item img:hover {
  transform: scale(1);
  border-color: #aaaaaa;
  box-shadow: 0 5px 5px rgba(7, 7, 7, 0.466);
}
.item .nombre_item {
  font-weight: bold;
}

.Mitem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2rem;
  padding: 5vh 4%;
  --x-0: 93%;
  --y-0: 97%;
  --c-0: hsla(55.58823529411776, 0%, 100%, 0.86);
  --y-1: 96%;
  --x-1: 66%;
  --c-1: hsla(260.735294117647, 85%, 73%, 0.42);
  --x-2: 10%;
  --y-2: 93%;
  --c-2: hsla(181.00000000000003, 85%, 73%, 0.42);
  --y-3: 94%;
  --x-3: 48%;
  --c-3: hsla(181.00000000000003, 85%, 73%, 0.42);
  --x-4: 52%;
  --c-4: hsla(252.7941176470588, 85%, 73%, 0);
  --y-4: 79%;
  background-color: hsl(198, 14%, 16%);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: overlay, normal, normal, normal, normal;
}
.Mitem .L_Mitem {
  flex: 1.5;
  order: 1;
  padding: 10px;
  background-color: white;
  border: solid 0.1px #aaaaaa;
  border-radius: 1%;
  box-shadow: 0 2px 4px rgba(7, 7, 7, 0.466);
}
.Mitem .L_Mitem .L_Mitem_imgs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.Mitem .L_Mitem .L_Mitem_imgs .mainIMG {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 75%;
  padding-top: 2vh;
  margin: auto;
}
.Mitem .L_Mitem .L_Mitem_imgs .mainIMG img {
  width: 75%;
  height: auto;
  aspect-ratio: auto;
  border: solid 0.1px #aaaaaa;
  border-radius: 2%;
  box-shadow: 0 2px 4px rgba(7, 7, 7, 0.466);
  transition: transform 0.5s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}
.Mitem .L_Mitem .L_Mitem_imgs .mainIMG img:hover {
  transform: scale(1.08);
  border-color: #aaaaaa;
  box-shadow: 0 5px 5px rgba(7, 7, 7, 0.466);
}
.Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 25%;
  padding: 2vh 1%;
}
.Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras img {
  width: 90%;
  height: auto;
  aspect-ratio: auto;
  border: solid 0.1px #aaaaaa;
  border-radius: 2%;
  box-shadow: 0 2px 4px rgba(7, 7, 7, 0.466);
  transition: transform 0.5s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}
.Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras img:hover {
  transform: scale(1);
  border-color: #aaaaaa;
  box-shadow: 0 5px 5px rgba(7, 7, 7, 0.466);
}
.Mitem .L_Mitem .L_Mitem_txt {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  margin-top: 10px;
}
.Mitem .L_Mitem .L_Mitem_txt h2 {
  font-size: 0.8rem;
}
.Mitem .L_Mitem .L_Mitem_txt a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.Mitem .L_Mitem .L_Mitem_com {
  padding-left: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.Mitem .L_Mitem hr {
  width: 93%;
  margin: 0 auto;
  border: none;
  border-top: 1.3px solid rgb(0, 0, 0);
}
.Mitem .R_Mitem {
  border: solid 0.1px #aaaaaa;
  border-radius: 1%;
  box-shadow: 0 2px 4px rgba(7, 7, 7, 0.466);
  background-color: #e4e1e1;
  order: 2;
  padding: 1% 2%;
  position: sticky;
  top: 45px;
  width: 30%;
}
.Mitem .R_Mitem a {
  text-decoration: none;
  font-size: 0.8rem;
}
.Mitem .R_Mitem .CAL {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
}
.Mitem .R_Mitem .R_Mitem_prize {
  margin-bottom: 30px;
}
.Mitem .R_Mitem .R_Mitem_prize h2 {
  margin: 0;
}
.Mitem .R_Mitem .R_Mitem_talle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2%;
  margin-top: 20px;
}
.Mitem .R_Mitem .R_Mitem_bot {
  position: relative;
  bottom: -20px;
  margin-bottom: 4vh;
}

@keyframes tilt-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes tilt-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes hoverEffect {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-5px) scale(1.01);
  }
}
@keyframes hero-gradient-animation {
  0% {
    --x-0:93%;
    --s-start-0:2%;
    --s-end-0:78.72573401919361%;
    --y-0:97%;
    --c-0:hsla(55.58823529411776,0%,100%,0.86);
    --y-1:96%;
    --s-start-1:4.122011541632316%;
    --s-end-1:78.72573401919361%;
    --x-1:66%;
    --c-1:hsla(260.735294117647,85%,73%,0.42);
    --x-2:10%;
    --s-start-2:2%;
    --s-end-2:61.288600779667334%;
    --y-2:93%;
    --c-2:hsla(181.00000000000003,85%,73%,0.42);
    --y-3:94%;
    --x-3:48%;
    --s-start-3:2%;
    --s-end-3:61.288600779667334%;
    --c-3:hsla(181.00000000000003,85%,73%,0.42);
    --s-start-4:2%;
    --s-end-4:61.288600779667334%;
    --x-4:52%;
    --c-4:hsla(252.7941176470588,85%,73%,0);
    --y-4:79%;
  }
  100% {
    --x-0:6%;
    --s-start-0:1;
    --s-end-0:85;
    --y-0:92%;
    --c-0:hsla(55.58823529411776,0%,100%,0.86);
    --y-1:96%;
    --s-start-1:1;
    --s-end-1:85;
    --x-1:28%;
    --c-1:hsla(260.735294117647,85%,73%,0.42);
    --x-2:43%;
    --s-start-2:1;
    --s-end-2:85;
    --y-2:87%;
    --c-2:hsla(181.00000000000003,85%,73%,0.42);
    --y-3:96%;
    --x-3:72%;
    --s-start-3:1;
    --s-end-3:85;
    --c-3:hsla(181.00000000000003,85%,73%,0.42);
    --s-start-4:1;
    --s-end-4:85;
    --x-4:72%;
    --c-4:hsla(252.7941176470588,85%,73%,0);
    --y-4:75%;
  }
}
@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 93%;
}
@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2%;
}
@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 78.7257340192%;
}
@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 97%;
}
@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(55.5882352941, 0%, 100%, 0.86);
}
@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 96%;
}
@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 4.1220115416%;
}
@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 78.7257340192%;
}
@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 66%;
}
@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(260.7352941176, 85%, 73%, 0.42);
}
@property --x-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 10%;
}
@property --s-start-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2%;
}
@property --s-end-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 61.2886007797%;
}
@property --y-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 93%;
}
@property --c-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(181, 85%, 73%, 0.42);
}
@property --y-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 94%;
}
@property --x-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 48%;
}
@property --s-start-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2%;
}
@property --s-end-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 61.2886007797%;
}
@property --c-3 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(181, 85%, 73%, 0.42);
}
@property --s-start-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2%;
}
@property --s-end-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 61.2886007797%;
}
@property --x-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 52%;
}
@property --c-4 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(252.7941176471, 85%, 73%, 0);
}
@property --y-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 79%;
}
.your_css_selector_here {
  --x-0:93%;
  --y-0:97%;
  --c-0:hsla(55.58823529411776,0%,100%,0.86);
  --y-1:96%;
  --x-1:66%;
  --c-1:hsla(260.735294117647,85%,73%,0.42);
  --x-2:10%;
  --y-2:93%;
  --c-2:hsla(181.00000000000003,85%,73%,0.42);
  --y-3:94%;
  --x-3:48%;
  --c-3:hsla(181.00000000000003,85%,73%,0.42);
  --x-4:52%;
  --c-4:hsla(252.7941176470588,85%,73%,0);
  --y-4:79%;
  background-color: hsl(198, 14%, 16%);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: overlay, normal, normal, normal, normal;
}

.body-carrito {
  padding: 7vh 4%;
  display: flex;
  justify-content: center;
  --x-0: 93%;
  --y-0: 97%;
  --c-0: hsla(55.58823529411776, 0%, 100%, 0.86);
  --y-1: 96%;
  --x-1: 66%;
  --c-1: hsla(260.735294117647, 85%, 73%, 0.42);
  --x-2: 10%;
  --y-2: 93%;
  --c-2: hsla(181.00000000000003, 85%, 73%, 0.42);
  --y-3: 94%;
  --x-3: 48%;
  --c-3: hsla(181.00000000000003, 85%, 73%, 0.42);
  --x-4: 52%;
  --c-4: hsla(252.7941176470588, 85%, 73%, 0);
  --y-4: 79%;
  background-color: hsl(198, 14%, 16%);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: overlay, normal, normal, normal, normal;
}
.body-carrito .individuales-carrito {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  background-color: white;
  min-width: 650px;
  max-width: 50%;
}
.body-carrito .individuales-carrito .unidad-carrito {
  background-color: #e4e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-right: 25px !important;
  gap: 10px;
}
.body-carrito .individuales-carrito .unidad-carrito .imagen-carrito img {
  height: 24vh;
  aspect-ratio: 1/1;
  border-radius: 3%;
  border-color: rgba(104, 104, 104, 0.452);
}
.body-carrito .individuales-carrito .unidad-carrito .desc-carrito {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  height: 24vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body-carrito .individuales-carrito .unidad-carrito .desc-carrito .precio-unidad {
  font-size: 1.4rem;
}
.body-carrito .individuales-carrito .unidad-carrito .desc-carrito .precio-unidad p {
  margin-bottom: 1vh;
}
.body-carrito .individuales-carrito .unidad-carrito .desc-carrito .id-unidad {
  font-size: 1.1rem;
}
.body-carrito .individuales-carrito .unidad-carrito .interactivo-carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 24vh;
  width: 15%;
  min-width: 100px;
}
.body-carrito .individuales-carrito .unidad-carrito .interactivo-carrito .btn-outline-secondary {
  border-color: rgba(104, 104, 104, 0.452);
}
.body-carrito .individuales-carrito .unidad-carrito .interactivo-carrito .input-group {
  width: 100% !important;
}
.body-carrito .individuales-carrito .unidad-carrito .interactivo-carrito .eliminar-item {
  width: 100%;
}
.body-carrito .totales-carrito {
  background-color: white;
  padding: 10px;
  height: fit-content;
  max-width: 28%;
  text-align: center;
}
.body-carrito .totales-carrito .contenedor-precio {
  background-color: #e4e1e1;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@keyframes tilt-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes tilt-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes hoverEffect {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-5px) scale(1.01);
  }
}
@keyframes hero-gradient-animation {
  0% {
    --x-0:93%;
    --s-start-0:2%;
    --s-end-0:78.72573401919361%;
    --y-0:97%;
    --c-0:hsla(55.58823529411776,0%,100%,0.86);
    --y-1:96%;
    --s-start-1:4.122011541632316%;
    --s-end-1:78.72573401919361%;
    --x-1:66%;
    --c-1:hsla(260.735294117647,85%,73%,0.42);
    --x-2:10%;
    --s-start-2:2%;
    --s-end-2:61.288600779667334%;
    --y-2:93%;
    --c-2:hsla(181.00000000000003,85%,73%,0.42);
    --y-3:94%;
    --x-3:48%;
    --s-start-3:2%;
    --s-end-3:61.288600779667334%;
    --c-3:hsla(181.00000000000003,85%,73%,0.42);
    --s-start-4:2%;
    --s-end-4:61.288600779667334%;
    --x-4:52%;
    --c-4:hsla(252.7941176470588,85%,73%,0);
    --y-4:79%;
  }
  100% {
    --x-0:6%;
    --s-start-0:1;
    --s-end-0:85;
    --y-0:92%;
    --c-0:hsla(55.58823529411776,0%,100%,0.86);
    --y-1:96%;
    --s-start-1:1;
    --s-end-1:85;
    --x-1:28%;
    --c-1:hsla(260.735294117647,85%,73%,0.42);
    --x-2:43%;
    --s-start-2:1;
    --s-end-2:85;
    --y-2:87%;
    --c-2:hsla(181.00000000000003,85%,73%,0.42);
    --y-3:96%;
    --x-3:72%;
    --s-start-3:1;
    --s-end-3:85;
    --c-3:hsla(181.00000000000003,85%,73%,0.42);
    --s-start-4:1;
    --s-end-4:85;
    --x-4:72%;
    --c-4:hsla(252.7941176470588,85%,73%,0);
    --y-4:75%;
  }
}
@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 93%;
}
@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2%;
}
@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 78.7257340192%;
}
@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 97%;
}
@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(55.5882352941, 0%, 100%, 0.86);
}
@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 96%;
}
@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 4.1220115416%;
}
@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 78.7257340192%;
}
@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 66%;
}
@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(260.7352941176, 85%, 73%, 0.42);
}
@property --x-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 10%;
}
@property --s-start-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2%;
}
@property --s-end-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 61.2886007797%;
}
@property --y-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 93%;
}
@property --c-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(181, 85%, 73%, 0.42);
}
@property --y-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 94%;
}
@property --x-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 48%;
}
@property --s-start-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2%;
}
@property --s-end-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 61.2886007797%;
}
@property --c-3 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(181, 85%, 73%, 0.42);
}
@property --s-start-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2%;
}
@property --s-end-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 61.2886007797%;
}
@property --x-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 52%;
}
@property --c-4 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(252.7941176471, 85%, 73%, 0);
}
@property --y-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 79%;
}
.your_css_selector_here {
  --x-0:93%;
  --y-0:97%;
  --c-0:hsla(55.58823529411776,0%,100%,0.86);
  --y-1:96%;
  --x-1:66%;
  --c-1:hsla(260.735294117647,85%,73%,0.42);
  --x-2:10%;
  --y-2:93%;
  --c-2:hsla(181.00000000000003,85%,73%,0.42);
  --y-3:94%;
  --x-3:48%;
  --c-3:hsla(181.00000000000003,85%,73%,0.42);
  --x-4:52%;
  --c-4:hsla(252.7941176470588,85%,73%,0);
  --y-4:79%;
  background-color: hsl(198, 14%, 16%);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: overlay, normal, normal, normal, normal;
}

.tarjetero {
  width: 98vw;
  box-sizing: border-box;
  margin: 5px auto;
  overflow-x: hidden;
}
.tarjetero * {
  height: 35vh;
  font-weight: bold;
  height: auto;
  border-width: 1px;
  border-color: #303030;
}

.prod-card {
  max-width: 18rem;
  min-width: 14rem;
}

.color-btn {
  background-color: #303030;
  border-color: #dfdfdf;
}
.color-btn:hover {
  color: rgb(0, 0, 0);
  background-color: #aaaaaa;
  border-color: rgb(0, 0, 0);
}

.card-title {
  text-align: center;
}

.card {
  border-radius: 8px;
  transition: all 0.3s ease;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(7, 7, 7, 0.466);
  height: auto;
  margin-bottom: 20px;
  border: 1px solid #e4e1e1;
  border-radius: 8px;
  transition: 0.3s ease;
}
.card:hover {
  box-shadow: 0 4px 12px rgba(7, 7, 7, 0.466);
  border-color: #aaaaaa;
  animation: hoverEffect 0.3s forwards;
}

.card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.separador-titular-small {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  display: none;
}
.separador-titular-small h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 4px rgba(7, 7, 7, 0.466);
}

.titular-body-index {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}
.titular-body-index h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 4px rgba(7, 7, 7, 0.466);
}

.fa-angles-down {
  margin: 0 60px;
}

.accordion-container {
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(7, 7, 7, 0.466);
}

.accordion-button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #303030;
  color: #f8f9fa;
  border: none;
  transition: background-color 0.5s ease;
}
.accordion-button:hover {
  background-color: #585858;
}
.accordion-button:not(.collapsed) {
  color: #f7f7f7;
  background-color: #585858;
}

.accordion-body {
  background-color: #dfdfdf;
  color: rgb(0, 0, 0);
  border-top: 1px solid #424242;
}

.filter-body {
  width: 100%;
  height: 11vh;
  background-color: #aaaaaa;
  border-bottom: white;
  border-width: 2px;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: rgb(0, 0, 0) !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.filter-body * {
  margin: 0;
  justify-items: center;
}

.filter-firstbox {
  display: flex;
  align-items: center;
  gap: 20px;
}
.filter-firstbox .form-select {
  width: 100%;
  height: 7vh;
  font-size: 1.4vh;
}
.filter-firstbox .filter-prize *,
.filter-firstbox .filter-stock * {
  height: 20px;
}
.filter-firstbox .filter-prize .filter-txt,
.filter-firstbox .filter-stock .filter-txt {
  padding-top: 0;
}

.filter-secondbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter-secondbox .filter-reset {
  margin-top: 4px;
}

.form-switch .form-check-input {
  transition: none;
  padding: 11px;
  width: 45px;
  margin-right: 10px;
}

.filter-txt {
  padding-top: 2vh;
  color: #424242;
}

.filter-dropdown-categoria .form-select,
.filter-dropdown-talle .form-select {
  background-color: #333;
  color: white;
  border: 1px solid #424242;
  border-radius: 5px;
  height: 7vh;
  font-size: 0.9rem;
}

.titular-body-productos {
  font-weight: bold;
  font-size: 1.3rem;
  background-color: #303030;
  color: white;
  margin-bottom: 0;
  padding: 10px 0;
  text-align: center;
}

.product-img {
  height: 200px;
  object-fit: cover;
}

.container {
  margin-top: 15px;
  box-sizing: border-box;
  max-width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-text {
  text-align: center;
  margin-bottom: 10px;
}

.filter-body-sm {
  display: none;
  background-color: #303030;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(7, 7, 7, 0.466);
}
.filter-body-sm .filter-group1 {
  width: 100%;
  display: flex;
  gap: 10px;
}
.filter-body-sm .filter-group2 {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.filter-body-sm h2 {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  header {
    font-size: 0.9rem;
  }
  footer {
    font-size: 0.9rem;
  }
  .thi_foot > iframe {
    height: 200px;
    width: 200px;
  }
  .Mitem {
    flex-direction: column;
    gap: 2rem;
  }
  .Mitem .R_Mitem {
    width: 100%;
    order: 2;
  }
  .Mitem .R_Mitem .R_Mitem_bot {
    position: relative;
    bottom: 0px;
  }
  .Mitem .R_Mitem .CAL p {
    margin-bottom: unset;
  }
  .Mitem .L_Mitem {
    order: 1;
  }
  .Mitem .L_Mitem .L_Mitem_imgs .mainIMG img {
    width: 90%;
  }
  .Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras img {
    width: 70%;
  }
  .body-carrito {
    align-items: center;
  }
  .body-carrito .totales-carrito {
    max-width: 70%;
    text-align: center;
  }
  .body-carrito .individuales-carrito {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .filter-body-sm {
    display: unset;
    background-color: #303030;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(7, 7, 7, 0.466);
  }
  .filter-body-sm h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .card-body {
    padding: 20px;
  }
  .filter-body {
    display: none !important;
  }
  /* Diseño responsive del titulo ubicado en el index */
  .fa-angles-down {
    margin: 0 30px;
    position: relative;
    top: 3vh;
  }
  .titular-body-index {
    display: none;
  }
  .separador-titular-small {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 4vh;
    padding-top: 0;
    margin-bottom: 3vh;
    margin-top: 4px;
  }
  /* Adaptaciones responsive para el diseño del header y el footer en todos los archivos */
  header,
  footer {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  /* Cambio y correccion del diseño de navbar para todo el sitio - diseño responsive */
  .big_navbar {
    display: none;
  }
  .bg-dark {
    background-color: rgb(0, 0, 0) !important;
  }
  .d-block {
    height: 90px;
  }
  .small_navbar .nombre_head {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0.7rem;
    margin-left: 1rem;
  }
  /* Cuerpo del menu responsive para dispositivos pequeños */
  .offcanvas-body {
    flex-grow: 1;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
  }
  .offcanvas-body * {
    width: 100%;
  }
  .links_small_navbar .dropdown-toggle {
    background-color: #333;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(7, 7, 7, 0.466);
    transition: background-color 0.3s ease, transform 0.4s ease;
  }
  /* Dropdown menu del navbar responsive */
  .links_small_navbar .dropdown-menu {
    background-color: #303030;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    height: auto;
    padding: 10px;
  }
  .links_small_navbar .dropdown-item {
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
    background-color: #585858;
    border-radius: 1%;
  }
  .links_small_navbar .dropdown-item:hover {
    background-color: #2e2e2e;
  }
  /* Diseño responsive del filtro de la pagina de productos para pantallas pequeñas */
  .filter-body-sm {
    background-color: #2e2e2e;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(7, 7, 7, 0.466);
  }
  .filter-body-sm h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .filter-dropdown-talle,
  .filter-dropdown-categoria,
  .filter-prize,
  .filter-stock,
  .filter-reset,
  .filter-search {
    margin-bottom: 15px;
  }
  .filter-stock {
    width: 75%;
  }
  .filter-reset {
    width: 18%;
  }
  .filter-dropdown-talle select,
  .filter-dropdown-categoria select {
    background-color: #333;
    color: white;
    border: 1px solid #424242;
    border-radius: 5px;
    height: 7vh;
    font-size: 0.9rem;
  }
  .filter-dropdown-talle select,
  .filter-dropdown-categoria select {
    height: 7vh;
  }
  .filter-prize p {
    color: white;
    font-size: 16px;
  }
  .filter-prize-range input {
    width: 100%;
    background: transparent;
  }
  .filter-stock label {
    font-size: 16px;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .filter-stock label:hover {
    background-color: #424242;
  }
  .filter-search button {
    width: 100%;
    background-color: #3d4e88;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .filter-search button:hover {
    background-color: #0b2b55;
  }
  /* Diseño mejorado del aspecto de los elementos del menu responsive */
  nav ul {
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }
  nav ul li {
    width: 100%;
    margin: 0;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #303030;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(7, 7, 7, 0.466);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  nav ul li a:hover {
    background-color: #424242;
    transform: translateY(-2px);
  }
  nav ul li a:active {
    background-color: #585858;
    transform: translateY(0);
  }
  /* Diseño de las barras de busqueda en los encabezados */
  .search-box {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    width: 100%;
  }
  .search-box button {
    padding: 0px 15px;
    height: 47px;
    width: auto;
  }
  .search-box input {
    height: unset;
    width: 100%;
  }
  .text-bg-dark {
    background-color: #303030;
  }
  /* Diseño responsive de la caja de subscripcion en el index */
  .body_sobrefoot {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .body_sobrefoot .bsf_text {
    padding: 2vh 3%;
    justify-items: center;
    padding-bottom: 0;
  }
  .body_sobrefoot .subscription {
    margin: 2vh;
    justify-content: center;
    width: 90%;
    max-width: 120%;
    margin-left: 3%;
  }
  /* Adaptaciones de la resolucion mas pequeña en la página del item */
  .ruteIndicator {
    font-size: 0.9rem;
    padding: 1rem;
    text-align: center;
  }
  .Mitem {
    flex-direction: column;
    padding: 2rem 2%;
    padding-top: 0.5rem;
  }
  .Mitem .R_Mitem {
    width: 100%;
    padding: 2rem;
    background-color: #dfdfdf;
    /* Fondo gris que cubre todo */
  }
  .Mitem .L_Mitem {
    width: 100%;
    padding: 0;
    height: auto;
  }
  .Mitem .L_Mitem .L_Mitem_imgs .mainIMG {
    position: relative;
    top: 0vh;
    width: 100%;
  }
  .Mitem .L_Mitem .L_Mitem_imgs .mainIMG img,
  .Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras img {
    width: 90%;
    position: relative;
    top: 0vh;
    aspect-ratio: auto;
  }
  .Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras {
    order: 2;
    display: flex;
    border-style: none;
    border-radius: 2%;
    gap: 8vh;
    padding: 2vh 1%;
    position: relative;
    justify-content: center;
    flex-direction: row;
  }
  .Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras img {
    height: auto;
  }
  .Mitem .L_Mitem .L_Mitem_imgs .L_Mitem_imgs_extras {
    gap: 3vh;
  }
  .Mitem .R_Mitem .R_Mitem_bot {
    position: relative;
    top: 2vh;
  }
  /* Ocultar secciones de detalles y comentarios */
  .Mitem .L_Mitem .L_Mitem_txt,
  .Mitem .L_Mitem .L_Mitem_com,
  .Mitem .L_Mitem hr {
    display: none;
  }
  .Mitem .L_Mitem .L_Mitem_imgs {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 10px;
    border-style: none;
    border-radius: 1%;
  }
  /* Adaptacion de elementos del footer para la resolucion de 768px */
  .topper-foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 40px;
  }
  .topper-foot > div {
    width: 100%;
    text-align: center;
  }
  /* Estilo de los títulos en el footer */
  .topper-foot h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .sec_foot li {
    margin: 5px 0;
  }
  .sec_foot li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  /* Correccion de tamaños y relaciones entre los elementos del holder de la pantalla del index */
  .holder .bot1,
  .holder .bot2 {
    top: 78%;
  }
  .holder .text-overlay2 {
    top: 48%;
    width: 75%;
  }
  .holder .text-overlay1 {
    text-align: center;
    top: 26%;
    width: 75%;
  }
  .father_form {
    box-shadow: 0 0px 0px rgba(7, 7, 7, 0.466);
  }
  .body_contact {
    min-height: auto;
    padding: 20px 0;
  }
  .body-carrito {
    align-items: center;
  }
  .body-carrito .totales-carrito {
    padding: 10px;
    background-color: white;
    display: flex;
    width: 70%;
  }
  .body-carrito .totales-carrito .contenedor-precio {
    width: 100%;
  }
  .body-carrito .individuales-carrito {
    padding: 10px;
    flex-direction: column;
    width: 85%;
    min-width: unset;
  }
  .body-carrito .individuales-carrito .unidad-carrito {
    padding: 0 !important;
    flex-direction: column;
    gap: 0;
  }
  .body-carrito .individuales-carrito .unidad-carrito .imagen-carrito img {
    height: unset;
    width: 100% !important;
    border-radius: 1%;
  }
  .body-carrito .individuales-carrito .desc-carrito {
    width: 100% !important;
    align-items: center;
    height: auto !important;
    padding-bottom: 10px;
    margin-top: 15px;
  }
  .body-carrito .individuales-carrito .interactivo-carrito {
    width: 80% !important;
    align-items: center;
    height: auto !important;
    padding-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .card-body {
    padding: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
