// Animaciones con Keyframes

@keyframes tilt-left {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

@keyframes tilt-right {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(5deg);
    }
}
