@import '../mixins';

// _footer.scss
footer {
  background-color: $color_2;
  color: $color_1;
  z-index: 15;

  a {
    color: $color_1;
  }
}

.topper-foot {
  @include flexbox(space-evenly, baseline, wrap);
  padding: 100px 0;

  table {
    @include list-reset;
  }

  .fir_foot {
    button {
      @include button($color_1, $color_4, $color_10);
    }
  }

  .sec_foot>* {
    padding: 10px 0;
  }
}

.sec_foot {
  ul {
    @include list-reset;
  }

  width: 12%;
}

.fir_foot {
  @include flexbox(center, center, column);
  gap: 30px;
  text-align: center;
  flex-direction: column;

  h3 {
    margin-bottom: 40px;
  }

  button {
    margin-bottom: 23px;
  }
}

.thi_foot>h3 {
  padding-bottom: 20px;
  text-align: center;
}

.social-links {
  @include flexbox(center);
  margin-top: 10px;
  gap: 20px;
}

.sublinks_1 {
  display: flex;
  flex-direction: column;

  >* {
    margin-top: 15px;
  }
}