// _accordion.scss

.accordion-container {
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px $col_shadow;
}

.accordion-button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: $color_10;
  color: $color_12;
  border: none;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: $color_11;
  }

  &:not(.collapsed) {
    color: $color_2;
    background-color: $color_11;
  }
}

.accordion-body {
  background-color: $color_8;
  color: $color_1;
  border-top: 1px solid $color_9;
}