// _body_sobrefoot.scss
@import '../mixins';

.body_sobrefoot {
  background-color: $color_14;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 2%;

  .bsf_text {
    order: 1;
    align-content: center;
    padding: 0 18px;
    flex-grow: 0;
  }

  .subscription {
    order: 2;
    @include background-transition($color_8);
    @include border-common($color_8, 10px, 2px);
    box-shadow: 0 0 15px $col_shadow;
    display: flex;
    flex-grow: 1;
    max-width: 35%;
    margin-left: auto;

    form {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 3% 5%;
      gap: 7px;
    }

    input[type="submit"] {
      @include button-common($color_1, $color_11, $color_4);
    }

    input[type="email"] {
      @include input-common($color_2, $color_14);
    }
  }
}