// _cards.scss

@import '../variables';
@import '../animations';

.tarjetero {
  width: 98vw;
  box-sizing: border-box;
  margin: 5px auto;
  overflow-x: hidden;

  * {
    height: 35vh;
    font-weight: bold;
    height: auto;
    border-width: 1px;
    border-color: $color_10;
  }
}

.prod-card {
  max-width: 18rem;
  min-width: 14rem;
}

.color-btn {
  background-color: $color_10;
  border-color: $color_8;

  &:hover{
    color: $color_1;
    background-color: $color_14;
    border-color: $color_1;
  }

  &:active{
    background-color: $color_1 !important;
    border-color: $color_1 !important;
  }
}


.card-title {
  text-align: center;
}

.card {
  border-radius: 8px;
  transition: all 0.3s ease;
  padding: 10px;
  box-shadow: 0 2px 6px $col_shadow;
  height: auto;
  margin-bottom: 20px;
  border: 1px solid $color_13;
  border-radius: 8px;
  transition: 0.3s ease;

  &:hover {
    box-shadow: 0 4px 12px $col_shadow;
    border-color: $color_14;
    animation: hoverEffect 0.3s forwards;
  }
}

.card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.separador-titular-small {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  display: none;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $color_4;
    text-shadow: 2px 2px 4px $col_shadow;
  }
}

.titular-body-index {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $color_4;
    text-shadow: 2px 2px 4px $col_shadow;
  }
}

.fa-angles-down {
  margin: 0 60px;
}