// _forms.scss
@import '../mixins';


.body_contact {
  font-family: $font-family_1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, $bg_first, $bg_second);
  color: $color_6;
}

.father_form {
  @include shared-form-styles;
  margin: 10px;

  h1 {
    text-align: center;
    color: $color_7;
    font-size: 2em;
    margin-bottom: 25px;
    font-weight: bold;
  }

  label {
    @include shared-label-styles;
  }

  input[type="text"] {
    @include shared-input-styles;
  }

  input[type="email"] {
    @include shared-input-styles;
  }

  textarea {
    @include shared-input-styles;
  }

  input[type="submit"] {
    @include shared-button-styles;
    background: linear-gradient(345deg, $button_second, $button_first);
    color: $color_8;

    &:hover {
      background: linear-gradient(345deg, $button_second_hv, $button_first_hv);
    }
  }
}

.footer_form {
  text-align: center;
  font-size: 0.9em;
  margin-top: 20px;
  color: $color_2;
}