@import '../mixins';

.ruteIndicator{
  background-color: $color_4;
}

.item {
  img {
    @include img-style(25%);
    height: 250px;
  }

  .nombre_item {
    font-weight: bold;
  }
}

.Mitem {
  @include flexbox-item(row, flex-start, stretch, 2rem);
  padding: 5vh 4%;
  background-color: $color_4;

  .L_Mitem {
    flex: 1.5;
    order: 1;
    padding: 10px;
    @include border-style($color_14, 0.1px, 1%);

    .L_Mitem_imgs {
      @include flexbox-item(row, flex-start, center, 10px);
      padding: 10px;

      .mainIMG {
        @include flexbox-item(row, center, center);
        width: 75%;
        padding-top: 2vh;
        margin: auto;

        img {
          @include img-style(75%, 1.08);
        }
      }

      .L_Mitem_imgs_extras {
        @include flexbox-item(column, center, center, 2vh);
        width: 25%;
        padding: 2vh 1%;

        img {
          @include img-style(90%);
        }
      }
    }

    .L_Mitem_txt {
      @include flexbox-item(row, flex-start, center, 10px);
      padding-left: 20px;
      margin-top: 10px;

      h2 {
        font-size: 0.8rem;
      }

      a {
        color: $color_1;
        text-decoration: none;
      }
    }

    .L_Mitem_com {
      padding-left: 10px;
      margin-left: 20px;
      margin-top: 10px;
    }

    hr {
      width: 93%;
      margin: 0 auto;
      border: none;
      border-top: 1.3px solid $color_1;
    }
  }

  .R_Mitem {
    @include border-style($color_14, 0.1px, 1%);
    background-color: $color_13;
    order: 2;
    padding: 1% 2%;
    position: sticky;
    top: 45px;
    width: 30%;

    a {
      text-decoration: none;
      font-size: 0.8rem;
    }

    .CAL {
      @include flexbox-item(row, flex-start, center, 2%);
    }

    .R_Mitem_prize {
      margin-bottom: 30px;

      h2 {
        margin: 0;
      }
    }

    .R_Mitem_talle {
      @include flexbox-item(column, flex-start, flex-start, 2%);
      margin-top: 20px;
    }

    .R_Mitem_bot {
      position: relative;
      bottom: -20px;
      margin-bottom: 4vh;
    }
  }
}