@import '../mixins';
@import '../variables';

.search-box {
  @include flexbox-search(flex-start, center, 5px);
  margin-top: -15px;

  input {
    @include input-style;
    height: 26px
  }

  button {
    @include button-style;

    i {
      color: $color_4;
    }
  }
}