<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Style -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>




    <title>Crossover.sf Shop</title>
</head>

<body class="body_background">

    <header>
        <div class="big_navbar">
            <hr>
            <div class="mid_head">
                <div class="nombre_head">
                    <p>Crossover.sf</p>
                </div>
                <form class="search-box" action="/buscar" method="get">
                    <input type="Shorts, Camisetas basicas..." name="buscar" placeholder="Escribe aquí..." />
                    <button type="post"><i class="fa-solid fa-magnifying-glass fa-xs lupita"
                            style="color: #ffffff;"></i></button>
                </form>
            </div>
            <div class="abajo">
                <nav class="bot_head">
                    <ul>
                        <li><a>
                                <div class="logonav"><img src="../assets/img/logo.jpg" alt=""></div>
                            </a></li>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="productos.html">Productos</a></li>
                        <!--<li><a href="rebajas.html">Rebajas</a></li>
                    <li><a href="verano.html">Verano</a></li>
                    <li><a href="novedades.html">Novedades</a></li>-->
                        <li><a href="contacto.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <nav class="small_navbar navbar navbar-dark bg-dark d-block d-md-none">
        <div class="container-fluid">
            <div class="nombre_head">
                <p>Crossover.sf</p>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MENÚ</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    <div class="links_small_navbar">
                        <div class="dropdown">
                            <button class="btn btn-outline-light dropdown-toggle w-100" type="button"
                                id="menuLinksDropdown" data-bs-toggle="dropdown"
                                aria-expanded="false">Navegación</button>
                            <ul class="dropdown-menu text-bg-dark" aria-labelledby="menuLinksDropdown">
                                <li><a class="dropdown-item text-white" href="../index.html">Inicio</a></li>
                                <li><a class="dropdown-item text-white" href="productos.html">Productos</a></li>
                                <!--<li><a class="dropdown-item text-white" href="rebajas.html">Rebajas</a></li>
                                <li><a class="dropdown-item text-white" href="verano.html">Verano</a></li>
                                <li><a class="dropdown-item text-white" href="novedades.html">Novedades</a></li>  -->
                                <li><a class="dropdown-item text-white" href="contacto.html">Contacto</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="filter-body-sm">
                        <h2>Filtros</h2>
                        <div class="filter-group1" style="width: 100%; display: flex; gap: 10px;">
                            <div class="filter-dropdown-talle">
                                <select class="form-select" id="size" aria-label="Selecciona tu talle">
                                    <option selected>Talle</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>
                            <div class="filter-dropdown-categoria">
                                <select class="form-select" id="category" aria-label="Selecciona una categoría">
                                    <option selected>Categoría</option>
                                    <option value="oversize">Remeras Oversize</option>
                                    <option value="remeras_comunes">Remeras Comunes</option>
                                    <option value="baby_tees">Baby Tees</option>
                                    <option value="bermudas">Bermudas</option>
                                    <option value="musculosas">Musculosas</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-prize">
                            <p class="filter-txt">Rango de precios</p>
                            <div class="filter-prize-range">
                                <input type="range" class="form-range" id="priceRange" min="0" max="1000" step="10"
                                    value="500">
                            </div>
                        </div>
                        <div class="filter-group2"
                            style="width: 100%; display: flex; gap: 10px; align-items: center; justify-content: space-between;">
                            <div class="filter-stock">
                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                                <label class="btn btn-outline-light" for="btncheck1">En Stock</label>
                            </div>
                            <div class="filter-reset">
                                <i class="fa-duotone fa-solid fa-rotate-right fa-xl"></i>
                            </div>
                        </div>
                        <div class="filter-search">
                            <button type="button" class="btn btn-primary">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <!-- Titulo de la pantalla de productos -->
    <h1 class="titular-body-productos d-none d-md-block">Personaliza tu busqueda y encontra esa prenda que mas potencia
        tu estilo</h1>
    <h1 class="titular-body-productos d-block d-md-none h-auto">Personaliza tu busqueda</h1>

    <!-- Barra de filtrado para pantallas md y lg -->
    <div class="filter-body">

        <!-- Primer Dropdown -->
        <div class="filter-dropdown-talle">
            <select class="form-select" id="size" aria-label="Selecciona tu talle">
                <option selected>Selecciona un talle</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
            </select>
        </div>

        <!-- Segundo Dropdown -->
        <div class="filter-dropdown-categoria">
            <select class="form-select" id="category" aria-label="Selecciona una categoría">
                <option selected>Selecciona una categoría</option>
                <option value="oversize">Remeras Oversize</option>
                <option value="remeras_comunes">Remeras Comunes</option>
                <option value="baby_tees">Baby Tees</option>
                <option value="bermudas">Bermudas</option>
                <option value="musculosas">Musculosas</option>
            </select>
        </div>

        <!-- Filtro de precios -->
        <div class="filter-prize">
            <p class="filter-txt">Rango de precios</p>
            <div class="filter-prize-range">
                <input type="range" class="form-range" id="priceRange" min="0" max="1000" step="10" value="500">
                <div class="d-flex justify-content-between"></div>
            </div>
        </div>

        <!-- Boton de filtro de stock -->
        <div class="filter-stock">
            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
            <label class="btn btn-outline-light" for="btncheck1">En Stock</label>
        </div>

        <!-- Boton de reseteo de los filtros -->
        <div class="filter-reset">
            <i class="fa-duotone fa-solid fa-rotate-right fa-xl"></i>
        </div>

        <!-- Boton de busqueda usando los filtros -->
        <div class="filter-search">
            <button type="button" class="btn btn-primary">Buscar</button>
        </div>
    </div>


    <div class="container">
        <div class="d-flex flex-wrap justify-content-center gap-3">
            <!-- Card 1 -->
            <div class="card col-12 col-md-6 col-lg-4 col-xl-3" style="max-width: 18rem; min-width: 14rem;">
                <img src="../assets/img/Camisas de fibrana/Talle M.jpg" class="card-img-top product-img"
                    alt="Producto 1">
                <div class="card-body d-flex flex-column">
                    <p class="card-text">Camisa de fibrana con diseño flowers blue</p>
                    <hr>
                    <h5 class="card-title">$18,900</h5>
                    <hr>
                    <a href="item.html" class="btn btn-primary mt-auto">Ver más</a>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="card col-12 col-md-6 col-lg-4 col-xl-3" style="max-width: 18rem; min-width: 14rem;">
                <img src="../assets/img/Remerones Oversize/REMERA OVERSIZE FREEDOM LILA.png"
                    class="card-img-top product-img" alt="Producto 2">
                <div class="card-body d-flex flex-column">
                    <p class="card-text">Remerón oversize freedom lila con estampa</p>
                    <hr>
                    <h5 class="card-title">$15,000</h5>
                    <hr>
                    <a href="item.html" class="btn btn-primary mt-auto">Ver más</a>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="card col-12 col-md-6 col-lg-4 col-xl-3" style="max-width: 18rem; min-width: 14rem;">
                <img src="../assets/img/Musculosa Oversize/MUSCULOSA COSMIC CRUDO.png" class="card-img-top product-img"
                    alt="Producto 3">
                <div class="card-body d-flex flex-column">
                    <p class="card-text">Musculosa cosmic oversize celeste con estampa</p>
                    <hr>
                    <h5 class="card-title">$12,600</h5>
                    <hr>
                    <a href="item.html" class="btn btn-primary mt-auto">Ver más</a>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="card col-12 col-md-6 col-lg-4 col-xl-3" style="max-width: 18rem; min-width: 14rem;">
                <img src="../assets/img/Camisas de fibrana/Talle XL.jpg" class="card-img-top product-img"
                    alt="Producto 4">
                <div class="card-body d-flex flex-column">
                    <p class="card-text">Camisa de fibrana con diseño de hojas</p>
                    <hr>
                    <h5 class="card-title">$16,780</h5>
                    <hr>
                    <a href="item.html" class="btn btn-primary mt-auto">Ver más</a>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="card col-12 col-md-6 col-lg-4 col-xl-3" style="max-width: 18rem; min-width: 14rem;">
                <img src="../assets/img/Bermudas/Bermuda de jean.png" class="card-img-top product-img" alt="Producto 5">
                <div class="card-body d-flex flex-column">
                    <p class="card-text">Bermuda corta de Jean, estilo baggie</p>
                    <hr>
                    <h5 class="card-title">$20,300</h5>
                    <hr>
                    <a href="item.html" class="btn btn-primary mt-auto">Ver más</a>
                </div>
            </div>
        </div>
    </div>



    <footer>

        <div class="topper-foot">
            <div class="fir_foot">
                <h3>¿Necesitas Ayuda?</h3>
                <button><a href="contacto.html">Contáctanos</a></button>
                <div class="social-links">
                    <a href="https://www.instagram.com/crossover.sf/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                    <a href=""><i class="fa-brands fa-facebook fa-2xl"></i></a>
                    <a href="https://wa.me/3425119158?text=Hola,%20Quiero%20ver%20el%20cat%C3%A1logo!!"><i
                            class="fa-brands fa-whatsapp fa-flip fa-2xl"></i></i></a>
                </div>
            </div>

            <div class="sec_foot">
                <h3>Información y Preguntas Frecuentes</h3>
                <ul class="sublinks_1">
                    <li><a href="faq.html">Devoluciones</a></li>
                    <li><a href="faq.html">Métodos de Pago</a></li>
                    <li><a href="faq.html">Métodos de Envío</a></li>
                </ul>
            </div>

            <div class="thi_foot">
                <h3>¿Dónde estamos?</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d90467.83854046576!2d-60.779867669838396!3d-31.610485039551904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x95b5a9adc40888e1%3A0xdcf7761e8d02804a!2sSanta%20Fe%20de%20la%20Vera%20Cruz%2C%20Santa%20Fe!3m2!1d-31.6106578!2d-60.697294!4m0!5e1!3m2!1ses-419!2sar!4v1733861449142!5m2!1ses-419!2sar"
                    width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </footer>

    <div class="fl_bar">
        <p>Powered by B'nT</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>